.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;

  @media only screen and (max-width: $bp-large) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}

%line {
  height: 2px;
  background-color: white;
  width: 50%;
  margin: 1rem auto;

  @media only screen and (max-width: $bp-large) {
    width: 4.5%;
    margin-right: 3rem;
  }
}

.line-1,
.line-2,
.line-3 {
  @extend %line;
}

.line-1 {
  margin-top: 2rem;

  @media only screen and (max-width: $bp-large) {
    margin-top: 1.8rem;
  }
}
