.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
}

%line {
  height: 2px;
  background-color: white;
  width: 50%;
  margin: 1rem auto;
}

.line-1,
.line-2,
.line-3 {
  @extend %line;
}

.line-1 {
  margin-top: 2rem;
}
